<%= shoppe_stripe_javascript %>
<center>
<h2>Make your payment</h2>

<% if params[:success] == "true" && params[:PayerID].present? %>

  <p>Payment will be processed by PayPal</p>
  <%= link_to "Continue", checkout_confirmation_path %>

<% else %>


  <hr>

  <%= link_to "Pay with PayPal", checkout_paypal_path %>

<% end %>
</center>